.Qrcode-container{
    position: absolute;
    right: 10px;
    top: 10px;
}
.Qrcode-container h2
{
    font-size: 1em;
}

@media (max-width: 1070px) {
    .Qrcode-container{
        position: relative;
        right: 0px;
        top: 0px;
    }
    
  }